{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">SYMBOL</th>
        <th scope="col">SHARES</th>
        <th scope="col">PRICE</th>

      </tr>
    </thead>
    <tbody>
        {% for row in transactions %}
            <tr>

                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] }}</td>
            </tr>
        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <th>TOTAL CASH AVAILABLE</th>
            <td>{{ cash }}</td>
        </tr>
    </tfoot>
  </table>


{% endblock %}